---
- name: install candidates
  become: yes
  become_user: '{{ item.0.username }}'
  shell: >
    source {{ sdkman_init_sdkman_dir }}/bin/sdkman-init.sh
    && sdk install {{ item.1.candidate }} {{ item.1.version }} {{ item.1.path | default('') }}
  args:
    executable: '{{ sdkman_init_shell }}'
  register: sdk_install
  changed_when: "'Done installing!' in sdk_install.stdout"
  failed_when: "sdk_install.rc != 0 or ('Stop!' in sdk_install.stdout and 'is already installed' not in sdk_install.stdout)"
  loop_control:
    label: '{{ item.0.username }}: {{ item.1.candidate }} {{ item.1.version }}'
  with_subelements:
    - '{{ users }}'
    - sdkman_install
    - skip_missing: yes

- include_tasks: set-defaults.yml
  loop_control:
    loop_var: user
  when: user.sdkman_default is defined
  with_items: '{{ users }}'
